body.template-search {
	div.outer-wrapper {
		#top-header-wrapper {
			background: #000000;


			h1.documentFirstHeading {
				color: #ffffff;
				margin-bottom: 100px;
			}
		}

		#searchform .input-group-btn input {
			background-color: #000000;
			border-color: #000000;
			color: #ffffff;

			&:hover,
			&:focus,
			&:active:focus {
				background-color: #ffffff;
				border-color: #ffffff;
				color: #000000;
			}
		}

	}
}

body.frontend.template-search div.website-wrapper.no-image div.outer-wrapper {
    #top-header-wrapper {
        h1.documentFirstHeading {
            margin-top: 250px !important;

            @media(max-width: 991px) {
                margin-top: 110px !important;
            } 
        }
    }
}