
.entries() {

	display: flex;
    flex-wrap: wrap;

	.entry {
		margin-bottom: @theme-listing-entry-margin-bottom;
	}

	.entry-item {
		padding-left: 0px;
		padding-right: 0px;
		width: 100%;
		height: 50vh;
		position: relative;
		overflow: hidden;
		min-height: 300px;

		
		@media(min-width: 768px) {
			width: 50%;
			height: 33.33333333vh;
		}

		@media(min-width: 992px) {
			width: 33.33333333%;
			height: 33.33333333vh;
		}

		@media(min-width: 992px) and (max-height: 900px) {
			height: 50vh;
		}

		@media(min-width: 1500px) {
			height: 50vh;
		}

		a {
			position: absolute;
		    width: 100%;
		    height: 100%;
		    top: 0;
		    left: 0;

		    background-position: 50%;
		    background-size: cover;
		    background-repeat: no-repeat;

		    div.image-wrapper {
		    	position: absolute;
			    width: 100%;
			    height: 100%;
			    top: 0;
			    left: 0;
			    background-size: cover;
    			background-position: center center;
    			overflow: hidden;

    			img {
    				position: absolute;
				    top: 0;
				    left: 0;
				    width: 100%;
				    height: 100%;
				    z-index: -1;
				    -o-object-fit: cover;
    				object-fit: cover;
    				object-position: center bottom;

    				transition: transform .8s ease,opacity .4s ease;
    			}
		    }

		    div.summary {

		    	flex-wrap: wrap;
			    padding-left: ~"calc(5.5vw / 2)";
			    padding-right: ~"calc(5.5vw / 2)";

		    	padding-bottom: 35px;
		    	z-index: 1;
		    	position: absolute;
			    top: 0;
			    width: 100%;
			    height: 100%;
			    display: flex;
			    flex-direction: column;
			    justify-content: flex-end;
			    background-image: linear-gradient(
			180deg
			,transparent 50%,rgba(32,35,39,.5));
			    padding-bottom: 40px;
			    color: #fff;


		    }

		    &:hover {
		    	img {
    				transform: scale(1.02);
    			}
		    }

		    &.state-private {
		    	.title-wrapper span {
		    		color: @theme-color-dark-red !important;
		    	}
		    }
		}
	}

	.image-wrapper, .title-wrapper, .description-wrapper {
		float: left;
		width: 100%;
	}

	.image-wrapper {
		position: relative;
	}

	.icon-video {
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    text-align: center;

	    svg {
	    	position: absolute;
	    	top: 50%;
	    	left: 50%;
	    	width: 70px;
	    	height: 70px;
	    	margin-top: 0;
    		transform: translateY(-50%) translateX(-50%);
    		opacity: 0.75;

	    }
	}

	.image-wrapper:hover {
		svg {
    		opacity: 1;
	    }
	}

	.title-wrapper {
		margin-top: @theme-listing-title-margin-top;
		margin-bottom: @theme-listing-title-margin-bottom;

		a {
			.Lato();
			font-size: @theme-listing-title-font-size;
			color: @theme-listing-title-color;
			border-bottom: @theme-listing-title-border-bottom;
			text-decoration: @theme-listing-title-text-decoration;

			&:hover,
			&:focus,
			&:active,
			&:active:focus {
				text-decoration: @theme-listing-title-text-decoration-hover;
			}
		}

		span.item-title {
			.Lato();
			font-size: @theme-listing-title-font-size;
			color: @theme-listing-title-color;
		}

		span {
			.Montserrat();
			margin-bottom: 8px;
			font-size: 25px;
			line-height: 1.375;

			
			@media(min-width: 768px) {
				font-size: 3.0vw;
			}

			@media(min-width: 992px) {
				font-size: 2.0vw;
			}

			@media(min-width: 1400px) {
				font-size: 30px;
			}

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.documentByLine {
		width: 100%;
		float: left;
		font-size: @theme-list-document-by-line-font-size;
		margin-bottom: @theme-list-document-by-line-margin-bottom;
	}

	.description-wrapper {
		p {
			color: @theme-listing-description-color;
			font-size: 17px;
			line-height: 1.375;
			margin-bottom: 0px;

			abbr {
				text-decoration: none !important;
				border-bottom: 0px !important;
				cursor: pointer;
			}

			@media(min-width: 769px) {
				font-size: 2vw;
			}

			@media(min-width: 992px) {
				font-size: 1.3vw;
			}

			@media(min-width: 1400px) {
				font-size: 17px;
			}
		}
	}

	.visible-xs, .visible-sm, .visible-md, .visible-lg {
	    display: none !important;
	}

	@media (max-width: 991px) and (min-width: 768px) {
		.visible-sm {
		    display: block !important;
		}
	}

	@media (max-width: 1199px) and (min-width: 992px) {
		.visible-md {
		    display: block !important;
		}
	}

	@media (min-width: 1200px) {
		.visible-lg {
		    display: block !important;
		}
	}

	.clearfix:before, .clearfix:after {
		display: table;
		content: " ";
	}

	.clearfix:after {
		clear: both;
	}
}

.listing_structure() {
	.main-container-wrapper, div.outer-wrapper #content-core {
		width: 100%;
		max-width: 100%;
	}

	.main-container-wrapper {
		padding-left: 15px;
		padding-right: 15px;

		@media (max-width: 991px) {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	div.outer-wrapper #content-core {
		margin-top: @theme-listing-content-core-margin-top;
		padding-left: @theme-listing-content-core-padding-left;
		padding-right: @theme-listing-content-core-padding-right;
	}

	div.outer-wrapper #main-container {
		article#content {
			margin-left: -15px;
			margin-right: -15px;
			margin-bottom: 0px;
		}
	}
}

.portletCollection {
	.entries();
	
	background-color: #ffffff !important;
	
	div.entries {
		margin-top: 50px;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	.portletHeader {
		background-color: transparent;
		
		font-size: 16px;
		padding: 0px;
		padding-top: 50px;

		h2 {
			.Montserrat();
			font-weight: 700;
			font-size: 1.250em;
			line-height: 35px;
			margin-bottom: 0px;
			padding-left: 15px;
			padding-right: 15px;
			color: #000000;
		    letter-spacing: 0.05em;
		    text-transform: uppercase;
		}

		div.portlet-description {
			.Lato();
			font-weight: @theme-font-weight-light;
			font-size: 1.250em;
			color: @theme-description-color;
			padding-left: 15px;
			padding-right: 15px;
		}

		@media(min-width: 992px) {
			text-align: center;
		}
	}

	.portletFooter {
		border-top: 0px;
		background: transparent;
		box-shadow: none;
		padding-top: 40px;
		padding-bottom: 65px;
		text-align: center;

		.buttons();

		@media(min-width: 992px) {
			padding-top: 40px;
			
		}
	}
}

#portal-footer-wrapper .portletCollection {
	margin-top: -40px;
	margin-left: -25px;
    margin-right: -25px;
    padding-left: 25px;
    padding-right: 25px;


	@media (min-width: 769px) {
		margin-left: -40px;
	    margin-right: -40px;
	    padding-left: 40px;
	    padding-right: 40px;
	}

	@media(min-width: 1200px) {
		margin-left: -115px;
	    margin-right: -115px;
	    padding-left: 100px;
	    padding-right: 100px;
	}
}

body:not(.frontend) #portal-footer-wrapper .portletCollection {
	display: none !important;
}


body.frontend {
	&.portaltype-folder:not(.template-index-html),
	&.portaltype-collection:not(.template-index-html) {

		.listing_structure();

		#content-core .entries {
			.entries();
		}

		#portal-footer-wrapper {
			margin-top: 0px;
		}

		footer.row {
			display: none;
		}
	}

	.portletCollection {
		.entries();
		.entries {
			float: left;
		}

		.entries .entry {
			float: left;
		}

		img {
			max-width: 100%;
			height: auto;
		}
	}

	#portal-footer-wrapper .portletCollection {
		margin-top: -40px;
		margin-left: -25px;
	    margin-right: -25px;
	    padding-left: 25px;
	    padding-right: 25px;


		@media (min-width: 769px) {
			margin-left: -40px;
		    margin-right: -40px;
		    padding-left: 40px;
		    padding-right: 40px;
		}

		@media(min-width: 1200px) {
			margin-left: -115px;
		    margin-right: -115px;
		    padding-left: 100px;
		    padding-right: 100px;
		}
	}
}





