
.mosaic-panel .mosaic-rich-text-toolbar {
	margin-top: -80px;
	z-index: 1000;
}

body.template-layout.no-portlet-columns .outer-wrapper>.container .mosaic-grid-row, body.mosaic-enabled.no-portlet-columns .outer-wrapper>.container .mosaic-grid-row {
	width: 100% !important;
}

body.template-layout.mosaic-grid, 
body.template-edit.mosaic-layout-customized {
	.main-container-wrapper {
		margin-top: -5px;
	}

	div.outer-wrapper #top-header-wrapper {
		margin-bottom: 0px;
	}

	#portal-footer-wrapper {
		margin-top: 0px;
	}

	#main-container footer.row {
		display: none;
	}

	#header-wrapper {
		.documentFirstHeading {
			display: none;
		}

		.documentDescription {
			.Lato();
			font-size: 1.875em;
			line-height: 45px;
			padding-top: 50px;
			padding-bottom: 40px;
			max-width: 850px;
			color: #000000;
		}

		@media(max-width: 991px) {
			.documentDescription { 
				padding-top: 0px;
				padding-bottom: 15px;
			}
		}

		@media(min-width: 992px) {
			.documentDescription {
				margin: 0 auto;
			}
		}
	}

	@media(min-width: 992px) {
		.mosaic-width-full {
	    	padding-left: 0px;
	    	padding-right: 0px;
	  	}

	  	article#content {
	  		margin-left: -15px;
	  		margin-right: -15px;
	  	}
  	}

  	@media (max-width: 991px) {
		.mosaic-width-full {
		    padding-left: 0px;
		    padding-right: 0px;
		}

		article#content {
			margin-left: -15px;
			margin-right: -15px;
		}
	}



	.mosaic-tile-content {
		.tileHeader {
			.Montserrat();
			font-weight: 700;
			font-size: 1.250em;
			line-height: 35px;
			margin-bottom: 0px;
			padding-left: 15px;
			padding-right: 15px;
		}

		div.documentDescription {
			.Lato();
			font-weight: @theme-font-weight-light;
			font-size: 1.250em;
			color: @theme-description-color;
			padding-left: 15px;
			padding-right: 15px;
		}

		@media(min-width: 992px) {
			.tileHeader {
				text-align: center;
			}
		}
	}

	article#content {
		margin-bottom: 0px;
	}
}


body.template-edit.mosaic-layout-customized {

	div.outer-wrapper {
		.header();
		.layout();

		.mosaic-panel .mosaic-rich-text-toolbar {
			margin-top: 0px;
		}

		.mosaic-panel .mosaic-tile-outer-border {
			right: 0px;
		    left: 0px;
		    top: 0px;
		    bottom: 0px;
		}
	}

	div.website-wrapper {
		background: @theme-bg-header;
	}
}

@media(min-width: 992px) {
    body.portaltype-document.template-layout #main-container {
        margin-left: 0px;
        margin-right: 0px;
    }
}


body.section-intk.template-layout.mosaic-grid,
body.section-intk.template-edit.mosaic-layout-customized,
body.section-verhalen.template-layout.mosaic-grid,
body.section-verhalen.template-edit.mosaic-layout-customized {
        div.main-container-wrapper {

            @media (min-width: 992px) {
                
            }
        }

        div[class*="contentlisting"] {
                float: none !important;
        }

        div[class*="sidetextslide"], div.outer-wrapper #main-container div[class*="sidetextslide"],
        div[class*="videoslide"], div.outer-wrapper #main-container div[class*="videoslide"] {

                ul {
                        margin-top: -15px;

                        li {
                                .Lato();
                                font-size: 1.250em;
                                color: #999999;
                        }
                }

                a {
                        color: #999999;
                        text-decoration: underline;
                        &:hover,
                        &:focus,
                        &:active:focus {
                                color: #242424;
                        }
                }
        }

        ul.slick-dots {
                display: none;
        }
}








