

body.template-search {
	background-color: @theme-color-light-purple;

	div.website-wrapper {
		background: @theme-color-light-purple;
	}

	#search-results {
		background: @theme-color-light-purple;
	}

	#content {
		margin-bottom: 0px;
	}

	#searchResultsSort, dl.actionMenu {
		display: none;
	}

	#search-results-bar #results-count {
		float: none;
		display: block;
		padding-bottom: @theme-search-results-count-padding-bottom;
	}

	#searchform .input-group {
		max-width: 100%;
	}

	#searchform .input-group-btn {
		padding-left: 20px;
	}

	.pat-autotoc.autotabs, .autotabs {
		border: 0px;
		box-shadow: none;
		border-radius: 0px;
		padding: 0px;

		.autotoc-nav {
			background: @theme-color-light-purple;
		}
	}

	#search-results-wrapper div.autotabs {
		margin-top: 20px;
	}

	@media (min-width: 992px) {
		#search-results-wrapper div.autotabs {
			margin-left: 0;
			margin-right: 0;
		}
	}

	&.userrole-authenticated {
		@media (min-width: 992px) {
			#search-results-wrapper div.autotabs {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}

	@media (max-width: 991px) {
		div.outer-wrapper #content-core {
			max-width: 100%;
		}
	}

}

