/* FONTS */

.Lato() {
	font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Montserrat() {
	font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* SCAFFOLDING */
@theme-body-bg:            				     #ffffff;
@theme-main-color:           				 #6a216c;
@theme-text-color:							 #6a216c;
@theme-description-color:					 #999999; /* #717171 for ideal color contrast */

/* TYPOGRAPHY */
@theme-font-family-base:					 "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
@theme-font-size-base:						 16px;
@theme-font-weight-light: 					 300;
@theme-font-weight-regular: 				 300;
@theme-font-weight-bold: 				 	 700;
@theme-line-height-base:					 1.428571429;
@theme-line-height-text:					 1.65;

@theme-headings-font-family:				 "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
@theme-headings-font-weight:				 @theme-font-weight-bold;
@theme-headings-line-height:				 1.1;
@theme-headings-color:						 #6a216c;
@theme-headings-letter-spacing:				 0.05em;

@theme-line-height-computed:                 floor((@theme-font-size-base * @theme-line-height-base));
@theme-line-height-text:					 30px;
@theme-text-margin:					 		 30px;

@theme-font-size-h1:            			 1.850em;
@theme-font-size-h2:            			 1.375em;
@theme-font-size-h3:            			 1.250em;
@theme-font-size-h4:            			 1.1em;
@theme-font-size-h5:            			 0.950em;
@theme-font-size-h6:            			 0.750em;
@theme-font-size-ul-ol:						 20px;

@theme-link-color:							 #6a216c;
@theme-link-hover-color:					 #6a216c;
@theme-link-color-footer:					 #6a216c;
@theme-link-hover-color-footer:				 #ffffff;


/* Tables */	
@theme-font-size-table:						 1.250em;
@theme-margin-top-table:					 30px;
@theme-margin-bottom-table:					 30px;
@theme-border-table:						 0px;
@theme-th-color-table:						 #f8f8f8;

/* Header */
@theme-padding-top-header:					 50px;
@theme-padding-top-header-sm:				 20px;
@theme-padding-bottom-header:                53px;
@theme-bg-header:							 #f8f8f8;

/* Footer */
@theme-footer-bg:							 #6a216c;
@theme-footer-a-color:						 #ffffff;
@theme-footer-p-color:						 #ffffff;
@theme-gray-lighter:						 #6a216c;
@theme-footer-padding:						 40px 0 100px 0;
@theme-footer-margin-top:					 40px;
@theme-footer-margin-left-lg:				 100px;
@theme-footer-margin-right-lg:				 100px;
@theme-footer-margin-left-sm:				 25px;
@theme-footer-margin-right-sm:				 25px;
@theme-font-size-h5-footer:            	     0.875em;
@theme-font-size-h5-footer-color:            #ffffff;
@theme-font-size-p-footer:					 1.125em;
@theme-footer-section-margin-top:			 20px;
@theme-footer-max-width:					 640px;

/* Menu */
@theme-menu-a-color:						 #ffffff;
@theme-menu-a-font-size:					 14px;
@theme-menu-a-color-not-currentlanguage:	 #7f7f7f;


/* Listings */
@theme-listing-content-core-margin-top:		 55px;
@theme-listing-content-core-padding-left:	 10px;
@theme-listing-content-core-padding-right:	 10px;

@theme-listing-entry-margin-bottom:			 35px;

@theme-listing-title-color:					 #6a216c;
@theme-listing-title-font-size:			     1.250em;
@theme-listing-title-line-height:			 26px;
@theme-listing-title-margin-top:			 15px;
@theme-listing-title-margin-bottom:			 5px;
@theme-listing-title-border-bottom:			 0px;
@theme-listing-title-text-decoration:		 none;
@theme-listing-title-text-decoration-hover:  underline;

@theme-listing-description-color:			 #999999; /* #717171 for ideal color contrast */
@theme-listing-description-font-size:	     1.125em;
@theme-listing-description-line-height:		 26px;
@theme-listing-description-margin-top:		 2px;
@theme-listing-description-margin-bottom:    10px;

@theme-list-document-by-line-font-size:		 0.850em;
@theme-list-document-by-line-margin-bottom:  0px;

/* Search */
@theme-search-results-count-padding-bottom:	 15px;


/* Buttons / Inputs */
@theme-button-height:						 45px;
@theme-button-background-color: 			 #6a216c;
@theme-button-border-color: 				 #6a216c;
@theme-button-color: 						 #ffffff;
@theme-button-text-transform: 				 uppercase;
@theme-button-hover-background-color: 		 #ffffff;
@theme-button-hover-border-color: 			 #6a216c;
@theme-button-hover-color: 					 #6a216c;
@theme-button-font-weight: 					 400;
@theme-button-border-radius: 				 0px;
@theme-button-box-shadow: 					 none;
@theme-button-text-shadow: 					 none;

@theme-input-height:						 45px;
@theme-input-background-color:				 #f8f8f8;
@theme-input-border-color:				     #f8f8f8;
@theme-input-border:						 1px solid #f8f8f8;
@theme-input-color:							 #6a216c;
@theme-input-font-size:						 1.125em;
@theme-input-border-radius:					 0px;
@theme-input-box-shadow:					 none;

@theme-button-group-margin-left:			 0px;